<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
  <h2 class="centered">View Jobs By Category</h2>
</div>

<table class="centeredTable">
  <tr>
    <!-- Iterate over the columns to create table headers -->
    <th:block th:each="column : ${columns}">
      <th th:text="${column.value}"></th>
    </th:block>
  </tr>
  <tr>
    <!-- Iterate over the columns to create table rows -->
    <th:block th:each="column : ${columns}">
      <td>
        <ul>
          <!-- If the column is 'all', add a 'View All' link -->
          <li th:if="${column.key == 'all'}">
            <a th:href="@{/list/jobs(column='all',value='all')}">View All</a>
          </li>
          <!-- Otherwise, add links for each item in the column's value list -->
          <li th:if="${column.key != 'all'}" th:each="item : ${tableChoices[column.key]}">
            <a th:href="@{/list/jobs(column=${column.key},value=${item})}" th:text="${item}"></a>
          </li>
        </ul>
      </td>
    </th:block>
  </tr>
</table>

</body>
</html>
