<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
  <h2 class = "centered">View Jobs By Category</h2>
</div>

<table class="centeredTable">
  <tr>
    <th:block th:each="column : ${columns}">
      <th th:text = "${column.value}"></th>
    </th:block>
  </tr>
  <tr>
    <!-- TODO #2: Complete the View Jobs By Category Table. -->

    <!-- HTML table cell containing a link to view all jobs -->
    <td>
      <!-- This link points to the '/list/jobs' endpoint with the 'column' parameter set to 'all' -->
      <a th:href="@{/list/jobs(column='all')}">View All</a>
    </td>

    <!-- HTML table cell that iterates over each category in 'tableChoices' -->
    <td th:each="category : ${tableChoices}">
      <!-- Unordered list to contain the items of the current category -->
      <ul>
        <!-- Iterate over each item in the current category's value -->
        <li th:each="item : ${category.value}">
          <!--
          Link to the '/list/jobs' endpoint with:
          - 'column' parameter set to the current category's key
          - 'value' parameter set to the current item
          The link text is set to the current item
          -->
          <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>
        </li>
      </ul>
    </td>
  </tr>
</table>

</body>
</html>
